{% extends "base.html" %}

{% block title %} KuroBuzz - FAQ {% endblock %}

{% block content %}

<div class="columns black">
    <div class="column is-one-fifth überschrift">
        <h1 class="title"><a href="/">KuroBuzz</a></h1>
    </div>
</div>

<br><br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Was macht diese Seite besser als andere?
            </summary>
            <div class="message-body">
                Zusätzlich zum Buzzer gibt es noch für jeden Teilnehmer ein Textfeld. Dieses kann in Echtzeit vom Host angesehen und auch bearbeitet werden.<br><br>
                Der Host kann Einstellen, ob der Buzzer und die Textfelder aktiv oder gesperrt sind. <br>Er kann auch einen Abgabe Button bei den Teilnehmern hinzufügen.<br><br>
                Ebenfalls gibt es für den Host die möglichkeit, Punkte zu verteilen, die alle sofort sehen können.
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Welche Probleme gibt es aktuell noch?
            </summary>
            <div class="message-body">
                Probleme beim Host: <br>
                Beim neu laden der Seite, könnten noch Probleme auftauchen:<br>
                -Farben werden entfernt (zb. grün vom Buzzern)<br>
                -Timer wird nicht mehr angezeigt
                <br><br>
                Probleme beim Teilnehmer:<br>
                Das Textfeld macht selten Probleme, wenn man etwas mitten drin bearbeiten möchte.<br>
                beim neu laden der Seite, wird der Timer nicht mehr angezeigt
                Manchmal kann es vorkommen, dass 2 Teilnehmer gleichzeitig buzzern
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Was machen die Buttons beim Host?
            </summary>
            <div class="message-body">
                Reset Buzzer:<br>
                Der Buzzer wird zurückgesetzt.<br><br>
                Clear Text:<br>
                Das Textfeld wird bei allen Teilnehmern gelöscht<br><br>
                Lock Buzzer:<br>
                Der Buzzer wird für alle gesperrt. Der Buzzer kann währenddessen nicht resettet werden.<br><br>
                Lock Text:<br>
                Die Teilnehmer können das Textfeld nicht mehr bearbeiten.<br><br>
                Antwort abgeben:<br>
                Die Teilnehmer erhalten einen Button mit dem sie ihre Antwort abgeben können. Sie können den Text danach nicht mehr bearbeiten.<br>
                Damit die Teilnehmer wieder schreiben können, muss der Host den Button wieder deaktivieren. Wer abgegeben hat, wird braun hinterlegt.<br><br>
                Starte Timer:<br>
                Du kannst in Sekunden angeben, wie lange der Timer laufen soll. Dieser wird dann bei dir und bei jedem Spieler angezeigt. Sobald er abläuft, sperrt sich das Textfeld bei jedem Spieler
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Was bedeuten die Farben beim Host?
            </summary>
            <div class="message-body">
                Braun:<br>
                Der Teilnehmer hat eine Antwort abgegeben.<br><br>
                Grün:<br>
                Der Teilnehmer hat als erstes den Buzzer gedrückt.
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Wo kann ich Bugs melden oder Verbesserungen vorschlagen?
            </summary>
            <div class="message-body">
                <a href="/request">Hier kannst du einfach schreiben,</a> was dir fehlt oder wenn dir ein Bug auffällt. Wenn du eine Antwort möchtest, erwähne es ganz am Ende deines Vorschlags. (Vergiss bitte nicht, mir dann auch Kontaktdaten mitzugeben)
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Wie lang wird es diese Website geben?
            </summary>
            <div class="message-body">
                Aktuell läuft sie bis zum 29. September 2026. <br><br>
                Um diese Zeit zu verlängern, bin ich auf <a href="https://paypal.me/KuroPixel?country.x=DE&locale.x=de_DE">Spenden angewiesen.</a><br>
                Bitte gib als Nachricht "Website" an c:
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Mit wie vielen Personen kann ich ein Quiz machen?
            </summary>
            <div class="message-body">
                Es gibt keine Begrenzung. Lade so viele Leute wie du möchtest ein :)
            </div>
        </details>
    </article>
</div>

<br>

<div class="faqBox zentriert">
    <article class="message faqAbrunden">
        <details>
            <summary class="zentriert message-header is-clickable has-text-weight-bold">
                Wann war das letzte Update und was ist neu?
            </summary>
            <div class="message-body">
                Am 3.6.26 kam das letzte Update der Website :) <br><br>
                Der Host hat jetzt folgende neue optionen:<br>
                -er kann den Code ausblenden<br>
                -er kann die Punkte der Teilnehmer besser bearbeiten<br><br>
                Die Teilnehmer können jetzt mit Leertaste Buzzern<br><br>
                Es gab ein paar Bugfixes<br>
            </div>
        </details>
    </article>
</div>

{% endblock %}