{% extends "base.html" %}

{% block title %} Join / Create Room {% endblock %}
{% block content %}
<div class="columns">
    <div class="column is-one-fifth">
        <strong>Gaming Quiz 2025</strong>
    </div>
    <div class="column">
        <div class="überschrift"> 
            <h1 class="title">Room Code:</h1>
        </div>
    </div>
</div>

<button class="button">Reset Buzzer</button>
<button class="button">Clear Text</button>
<button class="button">Lock Buzzer</button>
<button class="button">Only first Buzz</button>
    

{% endblock %}