{% extends "base.html" %}

{% block head_meta %} 
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} KuroBuzz - Host {% endblock %}
{% block content %}
<div class="columns black">
    <div class="column is-one-fifth überschrift">
        <h1 class="title"><a href="/">KuroBuzz</a></h1>
    </div>
    <div class="column">
        <div class="überschrift" id="roomCode"> 
            
        </div>
    </div>
</div>

<button id="resetBuzzer" class="button" onclick="onBuzzerReset()">Reset Buzzer</button>
<button class="button" onclick="clearText()">Clear Text</button>
<button class="button" onclick="lockBuzzer(this)">Lock Buzzer</button>
<button id="lockTextButton" class="button" onclick="lockText(this)">Lock Text</button>
<button class="button" onclick="answerInput(this)">Antwort abgeben</button>
<!--<button id="firstBuzz" class="button" onclick="buttonActiveToggle(this)">Only first Buzz</button> Button hat keine funktion -->

<div class="columns">
    <div class="column is-four-fifths">
        <div id="card" class="columns is-multiline is-narrow-tablet">

        </div>
    </div>
    <div class="column">
        <div id="app">
            <table class="table playerList is-striped is-hoverable is-bordered">
                <tbody id="playerList">
                    <tr>
                        <th>Spieler</th>
                        <th @click="toggleSort()" style="cursor: pointer; user-select: none;">
                            Punkte 
                            <span v-if="sortDescending">⬇️</span>
                            <span v-else>⬆️</span>
                        </th>
                    </tr>
                    <tr v-for="(player, name) in players" :key="name">
                        <th v-text="name"></th>
                        <th v-text="player.points"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    

<script> 
    let roomID = "{{ roomID }}";
    const username = "{{ session['username'] }}";

    window.addEventListener('DOMContentLoaded', () => {
        if (roomID && roomID !== "None") {
            const roomCodeDiv = document.getElementById('roomCode');
            roomCodeDiv.innerHTML = `<h1 class="title roomCode">Room Code: ${roomID}</h1>`;
            socket.emit('join_room', {roomID: roomID, host: username});
        } else {
            createRoom(); //Beim seiten neuladen wird neuer Raum erstellt, wenn noch keiner existiert
        }
    });

    setTimeout(() => {
        if (!roomID || roomID === "None") {
            roomID = document.getElementById("roomCode").textContent.split("Room Code:")[1].trim();
        }
        console.log(roomID);
    }, 5000);
</script>

{% endblock %}