{% extends "base.html" %}

{% block head_meta %} 
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} Join / Create Room {% endblock %}
{% block content %}

<h1 class="title zentriert abstandOben animiert">Willkommen zum Quiz!</h1>
<p class="subtitle zentriert animiert">Hallo, {{ username }} 👋</p>

<br><br><br><br><br>

<div class="columns">
    <div class="column animiert delayRejoin">
        <div class="zentriert">
            <a class="button buttonJoin" id="rejoinButton" onclick="rejoinButton(this)">Rejoin</a>
        </div>
    </div>
    <div class="column animiert delay2">
        <div class="zentriert">
            <a id="createRoomButton" class="button buttonJoin" href="/host">Create Room</a>
            <br><br><br><br><br><br>
            <input class="input abstandOben roomInput" type="text" placeholder="RoomID" id="roomIDInput" oninput="joinButton()">
            <br><br>
            <button id="joinButton" class="button buttonJoin" onclick="joinRoom()" disabled>Join Room</button>
        </div>
    </div>
    <div class="column">

    </div>
</div>


{% endblock %}