{% extends "base.html" %}

{% block title %} Join / Create Room {% endblock %}
{% block content %}

<h1 class="title zentriert abstand">Willkommen zum Gaming Quiz 2025!</h1>
<p class="subtitle zentriert">Hallo, {{ username }} 👋</p>

<br><br><br><br><br>

<div class="zentriert">
    <a class="button abstand buttonJoin" onclick="hostRoom()">Create Room</a>
    <br><br><br><br><br><br>
    <input class="input abstand roomInput" type="text" placeholder="RoomID" id="roomIDInput" oninput="joinButton()">
    <br><br>
    <a class="button buttonJoin" onclick="joinRoom()" id="joinButton" disabled>Join Room</a>
</div>


{% endblock %}