{% extends "base.html" %}

{% block head_meta %} 
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block title %} KuroBuzz {% endblock %}
{% block content %}

<div class="columns black">
    <div class="column is-one-fifth überschrift">
        <h1 class="title"><a href="/">KuroBuzz</a></h1>
    </div>
    <div class="column">
        <div class="überschrift" id="roomCodeDiv"> 
            
        </div>
    </div>
    <div class="column is-one-fifth">

    </div>
</div>

<div class="columns">
    <div class="column animiert">
        <div id="app">
            <table class="table playerList is-striped is-hoverable is-bordered">
                <tbody id="playerList">
                    <tr>
                        <th>Spieler</th>
                        <th @click="toggleSort()" style="cursor: pointer; user-select: none;">
                            Punkte 
                            <span v-if="sortDescending">⬇️</span>
                            <span v-else>⬆️</span>
                        </th>
                    </tr>
                    <tr v-for="player in sortedPlayersList" :key="player.name">
                        <th v-text="player.name"></th> 
                        <th v-text="player.points"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="column animiert delay2">
        <br><br>
        <div class="zentriert">
            <p class="subtitle is-3" id="whoBuzzed"></p>
        </div>
        <div class="buzzer-container">
            <button class="button buzzer" id="buzzer" onclick="onBuzzerClick()">Buzzer</button>
        </div>
    </div>
    <div class="column">
        
    </div>
</div>

<div class="zentriert animiert delay2">
    <div id="timerDisplay">
        
    </div>
</div>
<br><br>

<div class="zentriert animiert delay2">
    <textarea class="input answerInput has-fixed-size" placeholder="Deine Antwort" name="InputField" id="{{ username }}Input" oninput="onTextChange(username)"></textarea>
    <br><br>
    <button class="button is-primary unsichtbar" id="submitAnswer" onclick="lockSubmitAnswer(username, this)">Antwort abgeben</button>
</div>



<script>
    const roomCodeDiv = document.getElementById('roomCodeDiv');
    const roomID = "{{ session['roomID'] }}";
    const username = "{{ session['username'] }}";
    roomCodeDiv.innerHTML = `<h1 class="title" id="roomCode">Room Code: ${roomID}</h1>`;
    socket.emit('join_room', {roomID: roomID, username: username});

    window.addEventListener('DOMContentLoaded', () => {
        socket.emit("playLoaded", {roomID: roomID})
    });
</script>

{% endblock %}