{% extends "base.html" %}

{% block title %} KuroBuzz {% endblock %}
{% block content %}

<div class="columns black">
    <div class="column is-one-fifth überschrift">
        <h1 class="title"><a href="/">Gaming Quiz 2025</a></h1>
    </div>
    <div class="column">
        <div class="überschrift" id="roomCode"> 
            
        </div>
    </div>
</div>

<div class="buzzer-container">
    <button class="button buzzer" id="buzzer" onclick="onBuzzerClick()">Buzzer</button>
</div>

<div class="zentriert">
    <input class="input answerInput" type="text" placeholder="Deine Antwort">
</div>

<script>
    const roomCodeDiv = document.getElementById('roomCode');
    roomID = "{{ session['roomID'] }}"
    roomCodeDiv.innerHTML = `<h1 class="title roomCode">Room Code: ${roomID}</h1>`;
</script>

{% endblock %}